/* Reseta margens, padding e configura o box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações básicas do body */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Estilos do contêiner principal */
.container {
  width: 1280px;
  min-height: 625px;
  background-color: #fcfcfc;
  box-shadow: 0 0 10px rgba(70, 0, 233, 0.473);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

/* Estilos do cabeçalho */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px;
}

header h1 {
  font-family: Overpass, sans-serif;
  font-size: 40px;
  font-weight: 900;
  background: linear-gradient(
    270deg,
    #c0f -2.84%,
    #5756ff 33.42%,
    #07fdfd 99.91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header h1:hover {
  background: linear-gradient(
    90deg,
    #c0f -2.84%,
    #5756ff 33.42%,
    #07fdfd 99.91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos do formulário */
form {
  display: flex;
  justify-content: center;
}

form input {
  flex: 1;
  max-width: 587px;
  padding: 16px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 0 0 10px;
  background: #fff;
  color: #5a5a5a;
  font-family: Overpass, sans-serif;
  font-size: 20px;
  transition: box-shadow 0.3s ease;
}

form ::placeholder {
  color: #aaaaaa;
}

form button {
  width: 94px;
  padding: 10px 16px;
  border: none;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(
    83deg,
    #07fdfd -2.81%,
    #4d69fe 43.36%,
    #c0f 95.68%
  );
  color: #fff;
  font-family: Overpass, sans-serif;
  font-size: 20px;
  cursor: pointer;
}

form button:hover {
  background: linear-gradient(
    180deg,
    #07fdfd -2.81%,
    #4d69fe 43.36%,
    #c0f 95.68%
  );
  color: #fff;
}

/* Estilos para a lista de tarefas */
.cont-tarefas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cont-tarefas-feitas,
.cont-tarefas-andamento {
  width: 334px;
  padding: 10px 16px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0 10px 20px rgba(240, 240, 240, 0.25);
  margin: auto;
}

.cont-tarefas p {
  font-family: Overpass, sans-serif;
  font-size: 20px;
  font-weight: 600;
  background: linear-gradient(
    270deg,
    #c0f -2.84%,
    #5756ff 33.42%,
    #07fdfd 99.91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lista-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-custom {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-custom {
  background-color: #1df809;
  border-color: #15ff00;
}

.checkbox-custom::after {
  content: "";
  width: 10px;
  height: 10px;
  display: none;
  background-color: white;
  clip-path: polygon(14% 44%, 0 60%, 50% 100%, 100% 15%, 80% 0, 43% 62%);
}

input[type="checkbox"]:checked + .checkbox-custom::after {
  display: block;
}

.lista-tarefas li {
  display: flex;
  width: 100%;
  max-width: 687px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 20px rgba(240, 240, 240, 0.25);
  margin-bottom: 20px;
  color: #5a5a5a;
  font-family: Overpass, sans-serif;
  font-size: 20px;
  border: none;
  transition: border 0.3s ease;
}

.lista-tarefas li p {
  padding-right: 60px;
}

.lista-tarefas li:hover {
  border: 1px solid #d9d9d9;
}

.lista-tarefas-elementos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.lista-tarefas-elementos button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#input-edicao {
  padding: 16px 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  font-family: Overpass, sans-serif;
  font-size: 20px;
  color: #5a5a5a;
  margin-right: 15px;
}

.botoes-edicao button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-family: Overpass, sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-right: 5px;
}

.botoes-edicao .button-cancelar {
  background-color: red;
}

.botoes-edicao .button-salvar {
  background-color: #009432;
}

.botoes-edicao .button-salvar:hover {
  background-color: #07d34b;
}

.botoes-edicao .button-cancelar:hover {
  background-color: rgb(255, 94, 94);
}
